body   {
    color: white;
    background-color: black;
}

html{
    text-align: center;
}

#main-square{
    border: solid;
    border-color: darkgrey;
    width: 500px;
    height: 500px;
}
.squares{
    height: 200px;
    width: 200px;
    float: left;
    margin: 22px;
    opacity: .25;
}

#top-left-square{
    background-color: red;

}
#top-right-square{
    background-color: blue;
}
#bottom-left-square{
    background-color: green;
}
#bottom-right-square{
    background-color: yellow;
}
@keyframes start-button {
    25% {background-color: blue;}
    50% {background-color: red;}
    75% {background-color: green;}
    100% {background-color: yellow}
}
.btn-default{
    animation-name: start-button;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

